* {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
    color: #FBF6F3 ;
    scroll-behavior: smooth;


}

header {
    position: fixed;
    margin: 1rem;
}

body {
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
   
  }


.container {
 display: flex;
 flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    list-style: none;
    margin-left: 1rem;
}

.nav > ul > li > a {
    text-decoration: none;
    transition: color 0.5s ease, cursor 0.5s ease; 

  }
  
  .nav > ul > li > a:hover
  {
    cursor: pointer;
    color: black;

  }

li {
    margin-left: 1rem;

}




.rivendell {
   height: 100vh;
   background-image: url('https://cdn.discordapp.com/attachments/1083706111456198657/1195330800250531911/image.png?ex=65b3998e&is=65a1248e&hm=5d7e25789b5cac6a39edb01884f6214513cbc85e490f3b1f449fd8a9cdf66abb&'); 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   z-index: 0;
}


.shire {
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/1083706111456198657/1195328414295543829/file-2VXHBgQAZaAvSwcW5QhZ7rC8.png?ex=65b39756&is=65a12256&hm=51d21dc92c5464fc1107f45af4d6b46a1e4a4a6e8cf415c623e11dd2a4585953&'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.go-to-mordor {
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/994287501470601314/1195324523466203137/eye-of-sauron-lord-of-the-rings-4k-wallpaper-uhdpaper.png?ex=65b393b6&is=65a11eb6&hm=1916d554c9edebf1826cb753473af1a5df48323b24bba5a6dc8feb3163b7f691&'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .may-survive {
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/994287501470601314/1195326705376690206/mzEXM.png?ex=65b395be&is=65a120be&hm=ce30330fd44a19f0e4bb6f5773598b058eb430407c4836393f9cb89665958909&'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .tile-text {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    left: 2rem;
    line-height: 2;
    margin-left: 3rem;

 }


 button {
    background-color: transparent;
    height: 2rem;
    border: 2px solid #FBF6F3;
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 15rem;
    margin-bottom: 10rem;
 }

 button:hover {
    cursor: pointer;
    background-color: #FBF6F3;
    color: black;
 }

 footer {
    background-color: black;
    
 }

 .footer-content {
    display: flex;
    flex-direction: row;
 }

 .footer-content > p {
    margin-top: 0.7rem;
 }

 .footer-content > ul {
    left: 15rem;
 }

 .footer-content > ul > li > a {
    text-decoration: none;
    transition: color 0.5s ease, cursor 0.5s ease;
 }

 .footer-content > ul > li > a:hover {
    color: grey;
    cursor: pointer;
 }

 @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
      0 0 1em hsla(118, 98%, 33%, 0.5),
      0 0 0.125em hsla(106, 94%, 42%, 0.5),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
      0 0 1em hsla(118, 98%, 33%, 0.5),
      0 0 0.125em hsla(106, 94%, 42%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
      0 0 1em hsla(118, 98%, 33%, 0.5),
      0 0 0.125em hsla(106, 94%, 42%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(118, 98%, 33%, 0.5),
        0 0 0.125em hsla(106, 94%, 42%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(128, 98%, 19%, 0.2),
        0 0 0.125em hsla(133, 93%, 29%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  
  
  h1 {
    animation: lights 5s 750ms linear infinite;
  }
 
